# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
*.jar
com.toyota.tsm/bin/res/crunch/drawable-hdpi/login_pwd_left.png
*.png
com.toyota.tsm/res/drawable/bg_reg.xml
*.xml
com.toyota.tsm/src/com/toyota/broadcast/ConnectionChangeReceiver.java
*.java
